<div class="container">

    <h1>Aeropuertos</h1>
    <hr>

    {{#each airports}}
    <p>- {{name}}
        <small>
            <a href="#">detalles</a>
        </small>
    </p>
    {{/each}}
</div>