<div class="container">
    <div class="row justify-content-between">
        <div>
            <h1>Aeropuertos</h1>
            <span><i class="fas fa-chevron-left"></i><a href="/reviews">Reseñas</a></span>
        </div>
        <br>
        <div class="d-flex justify-content-end align-items-center">
            <div class="btn-group">
                <a href="/review/new" class="btn btn-get-started">Crear nueva reseña</a>
            </div>
        </div>
    </div>
    <hr>
</div>
<div class="container">
    <div id="airportsMap"></div>
</div>

{{!-- Scrips para la gestión del mapa en la vista --}}
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="/js/APIHandler.js"></script>

<script src="/js/mapStyles.js"></script>
<script src="/js/map-setup.js"></script>

<script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDwTH6kTi9AF4mF5D405BeR38sDTuyxNbg&callback=getAirportsData"></script>
<script src="/js/script.js"></script>