<div class="container">
    <h1>ALL AIRPORTS</h1>
    <div id="airportsMap"></div>

</div>

{{!-- Scrips para la gestión del mapa en la vista --}}
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="/js/APIHandler.js"></script>

<script src="/js/mapStyles.js"></script>
<script src="/js/map-setup.js"></script>

<script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDwTH6kTi9AF4mF5D405BeR38sDTuyxNbg&callback=getAirportsData"></script>
<script src="/js/script.js"></script>